*{
    margin: 0;
    padding: 0;
}
*:focus{
    outline: none;
}

body{
    background-image: linear-gradient(to right top, #84e95d, #00e79c, #00dfd1, #00d2f2, #00c1fb, #3cc0fb, #56c0fa, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100vh;
}

.header{
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 10px purple;
}

.main{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-label{
    margin: 5px;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid purple;
    border-radius: 10px;
    margin: 10px;
}

#button{
    width: fit-content;
    align-self: center;
    padding: 10px 20px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
    color: whitesmoke;
}

#output{
    margin: 20px;
}


.footer {
    background-color: var(--primary-color);
    padding: 1.5rem 0rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: -2px -2px 8px #1d9783;
}

.footer-heading {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: large;
}

.footer-pills {
    padding-left: 0rem;
    margin: auto;
}

.footer .link {
    color: black;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}